# Database
DATABASE_URL="mysql://user:password@localhost:3306/yzu_db"

# NextAuth
NEXTAUTH_URL="http://localhost:3000"
NEXTAUTH_SECRET="your-secret-key-here-min-32-chars-change-this"

# API
NEXT_PUBLIC_API_URL="http://localhost:3000/api"

# Node Environment
NODE_ENV="development"
